{% extends 'images/base.html' %}

{% block content %}
    <h1>{{ image.title }}</h1>
    <div>
        <div>
            <img src="{{ image.url }}" alt="" style="width: 300px;">
            <p>{{ image.desc }}</p>
        </div>
    </div>
    <div>
        <h2>Comments</h2>
        {% for comment in comments %}
        <hr>
        <div>
            <p><strong>{{ comment.author }}</strong></p>
            <p>{{ comment.content }}</p>
            <p><small>{{ comment.created_at }}</small></p>
        </div>
        {% endfor %}
        <hr>
    </div>
{% endblock content %}